:root{
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(213, 8%, 23%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
}

html{
    font-size: 62.5%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body p{
    font-size: 1.5rem;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: var(--Very-Dark-Blue);
}
main{
    justify-items: center;
    height: 100vh;
    display: flex;
    align-items: center;
}

.container{
    background-color: var(--Dark-Blue);
    width: 35rem;
    height: 35rem;
    padding: 2rem 4rem;
    border-radius: 2rem;
    margin: 0 auto;
}
.rating-state-start{
    display: block;
}
.container .rating-state-start .star{
    background-color: var(--Medium-Grey);
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem 0;
}
.container h1{
    color: var(--White);
    font-size: 2.4rem;
}
.container .paragraph{
    color: var(--Light-Grey);
    margin: 1rem 0;
    line-height: 2.5rem;
}
.container .level{
    display: flex;
    justify-content: space-between;
    padding: 0 0.2rem;
    margin: 0.5rem 0;
}
.container .level p{
    color: var(--Light-Grey);
    background-color: var(--Medium-Grey);
    border-radius: 5rem;
    padding: 1.5rem 2rem;
    cursor: pointer;
}
.container .level p:hover{
    background-color: var(--Light-Grey);
    color: var(--White);
}
.container .rating-state-start button{
    color: var(--White);
    background-color: var(--Orange);
    width: 100%;
    height: 3.5rem;
    margin: 1.5rem 0;
    border-radius: 2rem;
    border-style: none;
    letter-spacing: 0.1rem;
    font-weight: 700;
}.container .rating-state-start button:hover{
    background-color: var(--White);
    color: var(--Orange);
    cursor: pointer;
}

.Thank-you-state{
    flex-direction: column;
    display: none;
}
.Thank-you-state img{
    justify-self: center;
    margin: 0 auto;
    display: flex;
}

.container .Thank-you-state .message{
    display: flex;
    color: var(--Orange);
    font-size: 1.5rem;
    justify-content: center;
    margin: 2rem auto;
    background-color: var(--Medium-Grey);
    padding: 0.5rem;
    border-radius: 3rem;
}
.container .Thank-you-state h1{
    text-align: center;
    margin: 2rem auto;
}


/*
The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
*/